.cart {
    margin-top: 100px;
    background-color: rgb(224, 226, 228);
}
.cart-items-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: gray;
    font-size: max(1vw, 18px);
    font-family: 'Alumni Sans','Crushed','Inter';
    padding-top: 32px;
    padding-left: 20px;
}
/* .cart-items-title {
    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr 1fr 1fr 0.5 fr;
    align-items: center;
    color: gray;
    font-size: max(1vw,12px);
} */

.cart-items-item{
    margin: 10px 0px;
    color: rgb(34, 28, 34);
}

.cart-items-item img {
    width: 50px;
}

.cart hr {
    height: 1px;
    background-color: rgb(206, 199, 201);
    border: none;
}

.cart-items-item .cross{
    cursor: pointer;
}

.cart-bottom{
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    gap: max(12vw,20px);
    padding: 32px;

}

.cart-total{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-left: 56px;
}

.cart-total-details{
    display: flex;
    justify-content: space-between;
    color: #5d3b70;
}
.cart-total h2 {
    font-size: 26px;
    font-family: 'Alumni Sans','Crushed','Inter';
}
.cart-total hr{
    margin: 10px 0px;
}

.cart-total button {
    border: none;
    color: aliceblue;
    background-color: rgb(95, 77, 179);
    width: max(12vw,200px);
    padding: 12px 0px;
    border-radius: 4px;
    cursor: pointer;
}

.cart-promocode {
    flex: 1;
}
.cart-promocode p{
    font-size: 16px;
    color: #5d3b70;
    font-family: 'Alumni Sans','Crushed','Inter';
}

.cart-promocode-input{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: aliceblue;
    border-radius: 4px;
    
}

.cart-promocode-input input {
    background: transparent;
    border: none;
    outline: none;
    padding-left: 10px;
    font-family: 'Alumni Sans','Crushed','Inter';
    font-size: 16px;
}

.cart-promocode-input button {
    width: max(10vw,150px);
    padding: 12px 5px;
    background-color: black;
    border: none;
    color: aliceblue;
    border-radius: 4px;
    font-family: 'Alumni Sans','Crushed','Inter';
    font-size: 16px;
}